/* src/App.css */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajuste para centrar el contenido */
  height: 100%;
}

.App-header {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* Esto asegura que ocupe el espacio disponible */
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-header h1 {
  color: #333;
  margin: 20px 0; /* Espaciado superior e inferior */
}

.pikachu-container {
  margin-bottom: 20px; /* Espaciado inferior */
}


